.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    "places__title places__link-conteiner"
    "places__image places__paragraph-conteiner";
  gap: 40px 48px;
  margin-bottom: 80px;
}
.place:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .place {
    display: grid;
    grid-template-columns: 440px 456px;
    gap: 32px 48px;
  }
}
@media (max-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 352px;
    gap: 28px 26px;
    margin-bottom: 73px;
  }
}
@media (max-width: 320px) {
  .place {
    grid-template-columns: 320px;
    grid-template-areas:
      "places__title"
      "places__link-conteiner"
      "places__image"
      "places__paragraph-conteiner";
    gap: 32px 0;
  }
}
