.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px 0 0;
  max-width: 360px;
  color: white;
}
@media (max-width: 550px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 273px;
    margin: 16px 0 0;
  }
}
