.intro{
    display: flex;
    flex-direction: column;
    min-width: 984px;
    margin-top: 92px;
}

@media (max-width: 1024px) {
    .intro{
        min-width: 928px;
    }
}
@media (max-width: 768px) {
    .intro{
        min-width: 720px;
        margin: 88px 24px 0px;
    }
}
@media (max-width: 320px) {
    .intro{
        min-width: 288px;
        margin: 64px 16px 0px;
    }
}