.cover {
  display: flex;
  margin-top: 92px;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  background-image: url(../../images/bg.png);
  background-size: cover;
  background-position: center;
}
.cover:hover::before {
  opacity: 0.8;
}
.cover::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s;
}


@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}
@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}
@media (max-width: 550px) {
  .cover {
    margin-top: 66px;
    min-height: 200px;
  }
}


