.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 92px;
  position: relative;
  z-index: 1;
  max-width: 1184px;
  height: 740px;
  width: 100%;
}
.cover:hover .cover__background {
  opacity: 0.3;
}
@media (max-width: 1024px) {
  .cover {
    height: 640px;
  }
}
@media (max-width: 768px) {
  .cover {
    height: 480px;
  }
}
@media (max-width: 465px) {
  .cover {
    height: 200px;
  }
}


