@font-face {
    src: url(../vendor/Inter/Inter-Regular.woff2) format("woff2"),
      url(../vendor/Inter/Inter-Regular.woff) format("woff");
    font-family: "Inter";
    font-weight: normal;
  }
  @font-face {
    src: url(../vendor/Inter/Inter-Bold.woff2)
        format("woff2"),
      url(../vendor/Inter/Inter-Bold.woff) format("woff");
    font-family: "Inter";
    font-weight: bold;
  }