.cover__background {
  background-size: cover;
  position: absolute;
  z-index: -1;
  transition: 0.3s;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__background {
    width: 1024px;
    height: 640px;
  }
}
@media (max-width: 768px) {
  .cover__background {
    width: 768px;
    height: 480px;
  }
}
@media (max-width: 320px) {
  .cover__background {
    width: 320px;
    height: 200px;
  }
}
